<div class="container">
  <header class="nav_header">
    <h1 class="nav_header_logo">Angular Router App</h1>
    <nav>
      <ul class="nav_menu">
        <li class="nav_menu_item">
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav_menu_item">
          <a
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >about</a
          >
        </li>
        <li class="nav_menu_item">
          <a
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >contact</a
          >
        </li>
        <li class="nav_menu_item">
          <a
            routerLink="/product"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >product</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main class="content">
    <router-outlet />
  </main>
  <footer class="footer_page">This is footer &copy; 2024 - Made with ❤️ by Amed</footer>
</div>
<!-- The routed views render in the <router-outlet>-->
<!-- <router-outlet></router-outlet> -->
