.section_name {
  color: burlywood;
}

.products_container {
  max-width: 1024px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.products_container .product_card{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 25px;
}
.products_container .card_content{
  padding: 1rem;
}
.products_container .product_img{
  width: 100%;
  height: auto;
}
.products_container .product_name{}
.products_container .product_description{}
.products_container .product_price{}
.products_container .see_product{}