.section_name {
  color: burlywood;
}

.products_container {
  max-width: 1024px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.products_container .product_card{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  overflow: hidden;
}
.products_container .card_content{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: 1rem;
}
.products_container .product_img{
  width: 100%;
  height: auto;
}
.products_container .product_name{
  color: white;
}
.products_container .product_description{
  color: bisque;
}
.products_container .product_price{
  display: block;
  color: lightgreen;
}
.products_container .see_product{
  text-decoration: none;
  text-align: center;
  padding: .5rem;
  color: #333;
  border-radius: 1rem;
  background-color: lightsalmon;  
  font-weight: 700;
}

/* filters */
.filters {
  margin-bottom: 20px;
}
.filters_label{
  margin: 1rem auto;
}
.filters_label .text_label{
  color: white;
  font-weight: 600;
  backdrop-filter: blur(1px);
}
.filters button {
  margin-right: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filters button:hover {
  background-color: #0056b3;
}

.pagination {
  margin-top: 2rem;
}
.pagination a {
  margin: 0 5px;
  padding: 8px 16px;
  text-decoration: none;
  color: #007bff;
}

.pagination a:first-child, .pagination a:last-child{
  border-radius: 5px;
  background-color: #dddddd3d;
  backdrop-filter: blur(2px);
  cursor: pointer;
}
.pagination a:hover:not(.active) {
  background-color: #dddddd2f;
  border-radius: 5px;
  text-decoration: underline;
}
.pagination a.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.pagination a.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* badges de  categoria */
.category_badge {
  font-size: 0.875rem; /* 14px */
  padding: 2px .5rem; /* 8px*/
  cursor: pointer;
  border: none;
  border-radius: 0.375rem; /* 6px */
}
.yellow {
  background-color: rgba(234, 179, 8, 0.10);
  color: rgb(234 179 8);
  border: 1px rgb(234 179 8) solid;
}