<div class="container_section">
  <p class="section_identifier">
    <span class="section_name">product</span>
    works!
  </p>

  <div class="products_container">
    <div class="product_card" *ngFor="let product of products">
      <img
        src="https://fakeimg.pl/200x100?text=Product+image"
        alt="Descripción de la imagen"
        class="product_img"
      >

      <div class="card_content">
        <h1 class="product_name">{{ product.name }}</h1>

        <p class="product_description">
          {{ product.description }}
        </p>

        <span class="product_price">{{ product.price }}</span>

        <a class="see_product" [routerLink]="['/product', product.id]">Go to product</a>
      </div>
    </div>
  </div>
</div>
